doctype html
html
    head
        meta(charset='utf-8')
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title Waxom
        link(rel="stylesheet", type="text/css", href="../css/style.min.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Raleway:200,300,400,500,600,700,800,900|Roboto:300,400,500,700,900&display=swap", rel="stylesheet")
    body
        include layouts\_1-header.pug 
        include layouts\_2-first-section.pug 
        include layouts\_3-project-section.pug 
        include layouts\_4-video-section.pug 
        include layouts\_5-mobile-section.pug 
        include layouts\_6-posts-section.pug 
        include layouts\_7-logos-section.pug 
        include layouts\_8-footer.pug 
