.btn{
    font-size: 14px; //
    font-family: $ra;
    color: $f-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.643;
    border-radius: 3px;
    background-color: $th-color;
    box-shadow: inset 0px -3px 0px 0px #736357; 
    border: none;
    outline: none;     
}