section.first
    .container
        .row
            .services.row
                .service
                    img(src="../images/pencel.png", alt="")
                    h2 Web &amp; App Design
                    p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .line
                .service
                    img(src="../images/peper.png", alt="")
                    h2 Development
                    p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                    .line
                .service
                    img(src="../images/cox.png", alt="")
                    h2 Customization
                    p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .line
                .service
                    img(src="../images/marketing.png", alt="")
                    h2 Marketing
                    p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
                    .line
    .ideas
        .container
            h2 Waxom is Realization of your Ideas.
            p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            .idea
                img(src="../images/browser-left.png", alt="")
                img(src="../images/browser-center.png", alt="")
                img(src="../images/browser-right.png", alt="")
    .purchase
        .container
            .pur.row
                .description
                    h3 
                        span Waxom 
                        | Multipurpose WordPress Theme
                    p Don't Forget to Rate the Template. Thanks so much!
                .btns
                    button.btn Purchase Now