section.projects
    .container
        h2 Our Latest Projects.
        p.desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        .buttons
            button.btn All
            button.btn Web Design
            button.btn Mobile App
            button.btn Illustration
            button.btn Photography
        .my-project.row
            .project
                .picture
                .text
                    p Claritas Etiam Processus
                    p Photography, Nature
            .project
                .picture
                .text
                    p Quam Nutamus Farum
                    p Graphic Design, Mock-Up
            .project
                .picture
                .text
                    p Usus Legentis Videntur
                    p Photography, Holiday
            .project
                .picture
                .text
                    p Claritas Etiam Processus
                    p Photography, Nature
            .project
                .picture
                .text
                    p Quam Nutamus Farum
                    p Graphic Design, Mock-Up
            .project
                .picture
                .text
                    p Usus Legentis Videntur
                    p Photography, Holiday
        button.btn Load More