section.video
    .container
        .myvid.row.column
            button 
                img(src="../images/Play-Video.png", alt="")
            h2 Waxom Video Presentation
            p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
            span 03:26