section.mobile
    .container
        .mob.row
            .picture
                img(src="../images/iPhone in hand.png", alt="")
            .description
                h2 Excellent for Mobile Devices.
                p Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                ul
                    li Nam liber tempor cum soluta nobis eleifend option;
                    li Option congue nihil imperdiet doming id quod mazim placerat facer;
                    li Eodem modo typi, qui nunc nobis videntur parum futurum;
                    li Investigationes demonstraverunt lectores
    .mobile-counters
        .container
            .counters.row
                .counter
                    img(src="../images/icon-person.png", alt="")
                    p 3587
                    p Satisfied Clients
                    .line
                .counter
                    img(src="../images/coffe.png", alt="")
                    p 207
                    p Cups of coffee
                    .line
                .counter
                    img(src="../images/chat.png", alt="")
                    p 2500
                    p Blog posts
                    .line
                .counter
                    img(src="../images/love.png", alt="")
                    p 873
                    p Likes
                    .line
                .counter
                    img(src="../images/serve.png", alt="")
                    p 900
                    p We launched
                    .line

                


