section.posts
    .container
        h2.head Recent Posts.
        p.inves Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        .my-posts.row
            .post
                .picture
                    .date
                        p 30
                            p sep
                .text
                    p.one Lorem ipsum dolor sit amet
                    p.two Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    p.three Read More
            .post
                .picture
                    .date
                        p 30
                            p sep
                .text
                    p.one Lorem ipsum dolor sit amet
                    p.two Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    p.three Read More
            .post
                .picture
                    .date
                        p 30
                            p sep
                .text
                    p.one Lorem ipsum dolor sit amet
                    p.two Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    p.three Read More
