footer
    .container
            .infos.row
                .info
                    .logo.row
                        img(src="../images/logos.png", alt="logo")
                        p Waxom
                    p.txt Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
                    p.txto Read More
                .info
                    h2 Recent Posts
                    span September 08, 2015
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    span September 08, 2015
                    p Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    span September 08, 2015
                    p Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
                .info
                    h2 Our Twitter
                    p
                        span @waxom 
                        | Cum soluta nobis eleifend option congue nihil imperdiet doming
                    p.min 3 mins ago
                    p Mirum est 
                        span #envato 
                        | notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                    p.min 5 hours ago
                    p Soluta nobis option 
                        a bit.ly/1Hniso7
                    p.min 20 days ago
                .info
                    h2 Dribbble Widget
                    .pictures.row
                        img(src="../images/fo1.png", alt="")
                        img(src="../images/fo2.png", alt="")
                        img(src="../images/fo3.png", alt="")
                        img(src="../images/fo4.png", alt="")
    .copyy
        .container
            .copy.row
                .left
                    p Copyright © 2015 
                        a.first Waxom 
                        span  |   
                            a Privacy Policy   
                        span |   
                            a FAQ   
                        span |   
                            a Support
                .right
                    p Designed by 
                        a.first ThemeFire   
                        span |   Only on 
                            a.first Envato Market