$f-color: #fff;
$s-color: #C7B299;
$th-color: #998675;
$fo-color: #615855;
$fi-color: #555555;
$se-color: #8C8C8C;
$sv-color: #D1D1D1;
$ei-color: #00BFF3;
$footer-color: #191919;
$copy-color :#111111;
